#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2.half
      Mco Action Status
      = describe_search_if_present
    /搜索引用，同nodes不一样
    = render 'shared/search' if action_name == "hello"
    %br.clear
    - hello_status_path = "hello_status"
    =link_to "HELLO STATUS",hello_status_path,:class => 'button'

    %strong{:class => "code", :id => "message"} Hello Status!