#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2.half
      Mco ACTION Status
      = describe_search_if_present
    /搜索引用，同nodes不一样
    = render 'shared/search' if action_name == "mco_action"
    %br.clear
    - mco_action_status_path = "mco_action_status"
    =link_to "MCO ACTION STATUS",mco_action_status_path,:class => 'button'

    %strong{:class => "code", :id => "message"} Mco Status!

    /= render 'mco/mco_action_status'

    %br.clear